.container {
    height: 200px;
    padding: 30px;
    background: plum;
    border: 6px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-direction: row;
}

.item {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 6px solid blue;
    background: skyblue;
}